@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    height: 4500px;
    background: url(/img/Backgorund-photoshop.png);
    background-attachment: fixed;
    color: white;
}

/*-----Configuração Menu-----*/
nav {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.489);
    height: 10%;
}

.container {
    width: 90%;
    max-width: 1600px;
    display: flex;
    align-items: center;    
}

ul {
    display: flex; 
    justify-content: flex-end;
}

.buttons {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 41, 43);
    padding: 5px;
    border-radius: 4px;
    margin-right: 20px;
}

.buttons:hover{
    color: red;
}
/*-----Fim Menu-----*/


/*-----Configurando Sub_menu-----*/
nav ul ul{
    display: none;
    position: absolute;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul li a:hover{
    color: red;
}

nav ul ul li a {
    display: block;
    cursor: pointer;
}
/*-----Fim Sub_menu-----*/


/*-----Configuração texto1-----*/
.text{
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    font-size: 70px; 
    text-align: center;
}

.destaque{
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
/*-----Fim texto1-----*/


/*-----Configuração Caixa_email-----*/
.email{
    display: flex;
    justify-content: center;
}

input {
    border: none;
}

input[type="email"]{
    width: 50em;
    height: 4em;

    max-width: 750px;
    max-height: 50px;

    font-size: 20px;
    padding: 10px;
}


.email button{
    width: 7em;
    color: white;
    background-color: red;
    border: none;
}

.email button:hover{
    cursor: pointer;
    background-color: brown;
}
/*------Fim Caixa_email-----*/


/*-----Configuração de Linha-----*/
.linha{
    background-color: #303030;
    height: 20px;
}
/*-----Fim Linha-----*/


.desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-color: black;
}

/*-----Configurando Texto2-----*/
.text-2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-size: 50px;
}

.desc[id="area_2"]{
    height: 665px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 7em;
}

#tv{
    width: 25em;
}
/*-----Fim texto2-----*/


/*-----Congifurando Text3-----*/
.desc[id="area_3"]{
    flex-direction: row-reverse;
    height: 465px;
}

#celular{
    width: 20em;
}

.desc[id="area_3"] .conteudo{
    display: flex;
    flex-direction:column;
    margin-left: 0;
    margin-right: 2em;
    margin-top: 5em;
}

.desc[id="area_3"] .text-2{
   margin-left: 0;
}
/*-----Fim text3-----*/


/*-----Configurando Text4-----*/
.desc[id="area_4"]{
    height: 665px;
}

#mac{
    width: 20em;
    margin-right: 3em;
}

.desc[id="area_4"].conteudo{
    margin-top: 6em;
}

.desc[id="area_4"].text-2{
    margin-left: 0;
}
/*-----Fim text4-----*/


/*-----Configurando Text5-----*/
.desc[id="area_5"]{
    flex-direction: row-reverse;
    height: 665px;
}

#infantil{
    width: 22em;
}

.desc[id="area_5"] .conteudo{
    margin-left: 0;
    margin-right: 2em;
    margin-top: 6em;
}

.desc[id="area_5"] .text-2{
    margin-left: 0;
}
/*-----Fim text5-----*/


/*-----Configurando Text6-----*/
.desc[id="area_6"]{
    flex-direction: column;
    height: 30em;
}

.desc[id="area_6"] .text-2{
    margin-bottom: 20px;
}

.desc[id="area_6"] p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.perguntas{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.perguntas ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.perguntas button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-color: #303030;
    color: white;
    text-align: left;
    padding: 0.9em;
    border: none;
    border-bottom: 3px solid black;
}

i{
    cursor: pointer;
}

span{
    display: none;
    font-size: 25px;
    background-color: #303030;
    margin-bottom: 10px;
    text-align: left;
    padding: 40px;
}
/*-----Fim text6-----*/


/*-----Configurando footer-----*/

footer{
    padding-top: 40px;
    height: 320px;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: white
}

footer h3 {
    margin-left: 40px;
}

footer p {
    margin-top: 10px;
    font-size: 11px;
    margin-left: 40px;
}

#links{
    display: flex;
    flex-direction: row;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: left;
    margin-left: 40px;
}

footer li {
    width: 12em;
    margin-right: 2em;
    padding-top: 20px;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: white
}

footer .buttons{
    margin-left: 38px;
    border: 1px solid white
}
/*-----Fim footer-----*/


/*-----Responsividade-----*/
@media(max-width: 2560px){
    .container {
        justify-content: space-between;
    }

    .buttons {
        padding: 20px;
    }

    .container a {
        font-size: 25px;
    }
   
    .email button{
        width: 10em;
        font-size: 30px;
    }

    .desc {
        justify-content: center;
        gap: 90px;
    }

    .desc[id="area_6"]{
        gap: 0;
    }

    .desc[id="area_3"]{
        height: 20em;
    }

    footer {
        font-size: 30px;
        height: 500px;
    }

    footer a{
        font-size: 20px;
    }

    footer p {
        margin-top: 30px;
        font-size: 14px;
    }    

    footer ul {
        width: 50em;
    }
}

@media(max-width: 2020px){

    footer a{
        font-size: 20px;
    }
}

@media(max-width: 1440px){
    .email button {
        width: 8em;
        font-size: 30px;
    }

    .desc {
        justify-content: space-between;
        gap: 0;
    }

    .buttons {
        padding: 10px;
        font-size: 20px;
    }

    .container a {
        font-size: 20px;
    }

    footer ul {
        width: 20;
    }
}

@media(max-width: 1024px){

    .desc2{
        width: 1024px;
    }

    footer li{
        width: auto;
    }

    footer a{
        font-size: 12px;
    }
}